<div class="task-part center-element" style="margin-left: 50px">
  <mat-form-field style="width: 375px;" appearance="fill">
    <mat-label>Ученик</mat-label>
    <mat-select style="width: 350px; font-size: 16px">
      <mat-option style="width: 100%; font-size: 16px" *ngFor="let student of students" [value]="student.id" (click)="onChooseStudent(student.id)">
        {{student.fio}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <div class="command-list_source" #commandsList>
  </div>
  <div class="container-sm">
    <div class="row">
      <div class="col-sm-6" >
        <div class="container-sm">
          <div class="row" style="margin-top: 50px">
            <button style="width: 40px;height: 40px" [ngClass] ="{'true': flag0 ,'false':!flag0}" (click)="setMark(0)">0</button>
            <button style="width: 40px;height: 40px" [ngClass] ="{'true': flag1 ,'false':!flag1}"(click)="setMark(1)">1</button>
            <button style="width: 40px;height: 40px" [ngClass] ="{'true': flag2 ,'false':!flag2}" (click)="setMark(2)">2</button>
            <button style="width: 40px;height: 40px" [ngClass] ="{'true': flag3 ,'false':!flag3}"(click)="setMark(3)">3</button>
            <button style="width: 40px;height: 40px" [ngClass] ="{'true': flag4 ,'false':!flag4}"(click)="setMark(4)">4</button>
            <button style="width: 40px;height: 40px" [ngClass] ="{'true': flag5 ,'false':!flag5}"(click)="setMark(5)">5</button>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
      </div>
    </div>
  </div>
  <button mat-button  class="example-icon favorite-icon white-background"
          (click)="onSendMark()"
          style="width: 240px; margin-top: 10px; margin-left: 0px; color: white; background: #00B74A">
    Оценить
    <mat-icon class="white-icon">done_outline</mat-icon>
  </button>
</div>
<div class="field-container">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h2>ИГРОВОЕ ПОЛЕ</h2>
      </div>
      <div class="col-md-2">
      </div>
      <div class="field-buttons">
        <div class="container">
          <div class="row align-content-end">
            <!--<div class="field-button">
              <button mat-icon-button
                      mat-raised-button
                      matTooltip="Проверить задание"
                      [matTooltipPosition]="'below'"
                      (click)="parseScriptToCommands()">
                <mat-icon>check_circle_outline</mat-icon>
              </button>
            </div>-->
            <!--<div class="field-button">
              <button mat-icon-button
                      mat-raised-button
                      matTooltip="Очистить поле"
                      [matTooltipPosition]="'below'"
                      (click)="clearField()">
                <mat-icon>delete</mat-icon>
              </button>
            </div>-->
          </div>
        </div>
      </div>
    </div>
    <div class="field-wrap">
      <div class="field-row" *ngFor="let column of field.columns; index as i">
        <div class="field-col" *ngFor="let cell of column.cells; index as j"
             [ngClass]="{size__4: getSize(4), size__5: getSize(5), size__6: getSize(6), size__7: getSize(7),
              size__8: getSize(8), size__9: getSize(9), size__10: getSize(10), size__11: getSize(11),
              size__12: getSize(12)}">
          <app-field-cell
            class="field-cell"
            [type]="cell.type"
            [idColumn]="i"
            [idCell]="j">
          </app-field-cell>
        </div>
      </div>
      <div class="container">
        <div class="column" style="width: 200px; margin-left: 20px">
          <div class = "row" style="font-weight: bolder">Взято бананов: {{playMonkey.bananasCounter}}</div>
          <div class = "row" style="font-weight: bolder">Собрано бананов: {{playMonkey.harvestedBananas}}</div>
        </div>
      </div>
    </div>
  </div>
  <button mat-button  class="example-icon favorite-icon white-background"
          (click)="playCommands()"
          style="width: 250px; margin-top: 10px; margin-left: 185px; color: white; background: #00B74A">
    Воспроизвести
    <mat-icon class="white-icon">done_outline</mat-icon>
  </button>
</div>
