<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<app-header
  [currentTab]="'tasks'"
>
</app-header>
<button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" (click)="openSettingsDialog()">
  <mat-icon>settings</mat-icon>
</button>
<div class="example-container">
  <h2>Список объектов</h2>
  <div class="fields-items-list-wrapper">
    <app-field-items-list
      [listData]="sourceFieldsList"
      (throwCellItem)="setCellItemFromSourceList($event)"
    >
    </app-field-items-list>
  </div>
</div>

<div class="example-container">
  <h2>Задание</h2>
  <form>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Название</mat-label>
      <input matInput placeholder="Название">
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Задание</mat-label>
      <textarea matInput placeholder="Задание ">
      </textarea>
    </mat-form-field>
  </form>
</div>
<div class="field-container">
  <h2>ИГРОВОЕ ПОЛЕ</h2>
  <div class="field-wrap">
    <div class="field-row" *ngFor="let column of matrix; index as i">
      <div class="field-col zero-spacing" *ngFor="let row of column; index as j">
        <app-field-cell
          class="field-cell"
          (drop)="dropItemToAnotherItem($event)"
          (dragover)="dragOver($event)"
          (cellItem)="setCellItem($event)"
          [type]="row.data">
        </app-field-cell>
      </div>
    </div>
  </div>
</div>
