<div class="information">
  <h1>Сведения о разработчиках</h1><br>
  <p>Самарский университет<br>Кафедра программных систем</p>
  <p>Курсовой проект по дисциплине: "Программная инженерия"</p>
  <p>Тема проекта: "Автоматизированная обучающая система<br>
    по основам алгоритмизации и программирования"
  </p>
  <p>Разработчики: студенты группы 6413-020302D
  <br>Азаматов Ильдар<br>Сулименко Сергей<br>Черкасов Артем</p>
  <p class="info">Руководство пользователя</p>
  <p><a href="../../../../assets/guide/user-вапвпguide.html">Открыть файл в браузере</a>
  <p><a href="././assets/guide/help.zip" download>Скачать файл</a>
</div>
<mat-dialog-actions align="center">
  <button mat-button mat-dialog-close>Ок</button>
</mat-dialog-actions>
