<app-header
  [currentTab]="'login'"
></app-header>
<div class="login-layout">
  <div class="form-placeholder">
    <h1 class="mat-h1 login-header">Вход</h1>
    <form [formGroup]="_loginForm" class="login-form" (ngSubmit)="onSubmit($event)">
      <div class="form-layout">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Логин</mat-label>
          <input matInput placeholder="Введите логин" formControlName="email">
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Пароль</mat-label>
          <input type="password" matInput placeholder="Введите пароль" formControlName="password">
        </mat-form-field>

        <button style="width: 65%; height:50px;align-self: center; font-size: 15px" mat-raised-button color="primary" type="submit">Войти</button>
      </div>
    </form>
  </div>
</div>
