.cell-content {
  width: 100%;
  height: 100%;
  outline: 2px solid black;
  padding: 5px;
}

.monkey {
  background-image: url("src/assets/map-props/monkey.png");
  width: 100%;
  height: 100%;
  background-size: contain;
  /*transform: rotate(180deg);*/
  &__direction-top{

  }
  &__direction-bottom{

  }
  &__direction-right{

  }
  &__direction-left{

  }
}

.liana {
  background-image: url("src/assets/map-props/liana.png");
  width: 100%;
  height: 100%;
  background-size: contain;
}

.basket {
  background-image: url("src/assets/map-props/basket.png");
  width: 100%;
  height: 100%;
  background-size: contain;
}

.banana {
  background-image: url("src/assets/map-props/banana.png");
  width: 100%;
  height: 100%;
  background-size: contain;
}

.empty {
  width: 100%;
  height: 100%;
}
