<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<app-header
  [currentTab]="'tasks'"
>
</app-header>
<h2 style="text-align: center">Мои задания</h2>
<button *ngIf="roles.includes('ROLE_TEACHER')" mat-raised-button class="add" (click)="navigate('tasks')">
  Добавить
  <mat-icon color="primary">add</mat-icon>
</button>

<div *ngIf="roles.includes('ROLE_STUDENT')">
  <div  *ngFor="let task of studentTasks" class="container bcontent">
    <div class="card" style="width: 650px;" (click)="startSolution(task)">
      <div class="row no-gutters">
        <div class="col-sm-9">
          <div class="content">
            <p class="title">{{task.taskDto.title}}<span class="date"> {{task.taskDto.date}}</span></p>
                      <p>Автор: {{task.taskDto.author.fio}}</p>
                      <p>{{task.taskDto.description}}</p>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="card-body">
            <p class="task_st" *ngIf="task.solutionDto;else content">Решено<br>{{task.solutionDto.date}}</p>
            <ng-template #content>Не решено</ng-template>
            <p class="task_st" *ngIf="task.solutionDto && task.solutionDto.isSend">Отправлено</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="roles.includes('ROLE_TEACHER')">
<div  *ngFor="let task of teacherTasks" class="container bcontent">
  <div class="card" style="width: 650px;" (click)="startCheck(task.id)">
    <div class="row no-gutters">
      <div class="col-sm-8">
        <div class="content">
          <p class="title">{{task.title}}<span class="date"> {{task.date}}</span><mat-icon *ngIf="task.isPublished" class="published">share</mat-icon></p>
<!--          <p>Автор: {{task.author.fio}}</p>-->
          <p>{{task.description}}</p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card-body">
          <div class="container">
            <div class="row">
              <a class="delete" (click)="deleteTask(task.id)">Удалить</a>
            </div>
            <div class="row">
              <a *ngIf="!task.isPublished" class="change" (click)="editTask(task.id)">Изменить</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<br>

