<p>НАСТРОЙКИ ПОЛЯ</p>
<form class="example-form" [formGroup]="_settingsForm">
  <mat-form-field [style.width.px]=150 class="example-full-width" appearance="fill">
    <mat-label>Длина стороны</mat-label>
    <input readonly matInput placeholder="Длина стороны" formControlName="filedSideLength" (input)="onSideLengthChange($event,true)">
  </mat-form-field>
  <mat-slider
    (valueChange)="onSideLengthChange($event)"
    thumbLabel
    tickInterval="1000"
    step="1"
    min="4"
    max="12"
    aria-label="units">
  </mat-slider>
  <button  mat-button style="width: 120px" (click)="submit()">Применить</button>
  <button  mat-button style="margin-left: 5px; width: 120px" (click)="cancel()">Отмена</button>
</form>
