<mat-toolbar>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>computer</mat-icon>
  </button>
  <span class="example-spacer"></span>
  <span class="example-spacer"></span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <span class="mat-h1">Вход</span>
  </button>
  <span class="example-spacer"></span>
</mat-toolbar>
