<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<div class="task-part" style="margin-left: 50px">
  <br>
  <h2>Список команд</h2>
  <div class="command-list_source" dragula="COPYABLE" id="left">
    <div class="command-list__item " style="height: 50px" *ngFor="let item of todo" draggable="true"
    >
      <div *ngIf="item === 'Вперед' || item === 'Назад'" style="background-color: #0299ea; height: 100%;font-weight: bolder;">{{item}}</div>
      <div *ngIf="item === 'Поворот налево' || item === 'Поворот направо'"
           style="background: #00B74A; height: 100%; font-weight: bolder;">{{item}}</div>
      <div *ngIf="item === 'Прыжок'" style="background-color: #b571c7; height: 100%; font-weight: bolder; ">{{item}}</div>
      <div *ngIf="item === 'Цикл'" style="background-color: orange; height: 100%; font-weight: bolder;" class="for-start">{{item}}
        <input type="number" min="1" max="16" placeholder="i">
      </div>
    </div>
  </div>
</div>

<div class="task-part">
  <br>
  <h2>Ваш алгоритм</h2>
  <div class="command-list_target"
       #commandsList
       dragula="COPYABLE"
       id="right"
       style="width: 250px;height: 500px; background-color: #cccccc; margin-top: 15px">

  </div>

  <button mat-button  class="example-icon favorite-icon white-background"
          (click)="clearList()"
          style="width: 250px; margin-top: 5px">
    Очистить
    <mat-icon>delete</mat-icon>
  </button>
  <button mat-button  class="example-icon favorite-icon white-background"
          (click)="saveSolution()"
          style="width: 250px; margin-top: 5px">
    Сохранить
    <mat-icon>save</mat-icon>
  </button>
  <button mat-button  class="example-icon favorite-icon white-background"
          (click)="publishSolution()"
          [disabled]="!isSend"
          style="width: 250px; margin-top: 5px">
    Отправить
    <mat-icon>share</mat-icon>
  </button>
</div>
<div class="field-container">
  <br>
  <h2>{{task.title}}</h2>
  <p>{{task.description}}</p>
  <div class="field-wrap">
    <div class="field-row" *ngFor="let column of field.columns; index as i">
      <div class="field-col" *ngFor="let cell of column.cells; index as j"
           [ngClass]="{size__4: getSize(4), size__5: getSize(5), size__6: getSize(6), size__7: getSize(7),
              size__8: getSize(8), size__9: getSize(9), size__10: getSize(10), size__11: getSize(11),
              size__12: getSize(12)}">
        <app-field-cell
          class="field-cell"
          [type]="cell.type"
          [idColumn]="i"
          [idCell]="j">
        </app-field-cell>
      </div>
    </div>
    <div class="container">
      <div class="column" style="width: 200px; margin-left: 20px">
        <div class = "row" style="font-weight: bolder">Взято бананов: {{playMonkey.bananasCounter}}</div>
        <div class = "row" style="font-weight: bolder">Собрано бананов: {{playMonkey.harvestedBananas}}</div>
      </div>
    </div>

    <!--    <div>-->
    <!--    <p>Бананов на руках: {{playMonkey.bananasCounter}}</p><br>-->
    <!--    <p>Отнесла в корзину: {{playMonkey.harvestedBananas}}</p><br>-->
    <!--    </div>-->
  </div>

    <button mat-button  class="example-icon favorite-icon white-background"
            style="width: 250px; margin-top: 10px; margin-left: 185px; color: white; background: #00B74A" (click)="playCommands()">
      Воспроизвести
      <mat-icon class="white-icon">play_arrow</mat-icon>
    </button>
</div>
